.full-width-table {
  width: 90%;
  margin: 20px;
  justify-content: center;
}

.hide{
  display: none;
}

.mat-footer-row{
  justify-content: center;
  font-style: italic;
}

.mat-footer-cell{
  justify-content: center;
  font-style: italic;
}