<div *ngIf="auth.user | async; else notLoggedIn" >
<h2>Edit user bookings:</h2>
<h3>Bookings:</h3>

<div class='scroll' >
         <div *ngFor="let value of data | async ">
            <div *ngIf="checkDate(value.date.toDate())">

        <h5>
            {{"Date: " + (value.date.toDate() | date: 'mediumDate') + " Time: " + value.time + "-" + (+value.time + 1) + " Comment: " + value.comment + " With: " + value.hairdresser}} 
            <button mat-raised-button color="warn" (click)="deleteBooking(value)"><i class="material-icons">delete</i></button>
        </h5>
            </div>
    </div>
    </div>
    <h3>Old Bookings:</h3>
    <div class='scroll' >
            <div *ngFor="let value of data | async">
                <div *ngIf="!checkDate(value.date.toDate())">
                    <h5>
                        {{"Date: " + (value.date.toDate() | date: 'mediumDate') + " Time: " + value.time + "-" + (+value.time + 1) + " Comment: " + value.comment + " With: " + value.hairdresser}}
                    </h5>
                </div>
            </div>
    </div>
           
           <!--- passing the form to module and indirect to parent-->
           <button mat-raised-button mat-dialog-close tabindex="-1">Close </button>

           
        
</div>
<div>


<!--
<ul *ngFor="let user of userList">
    <li>{{user.email}}</li>
</ul>
</div>
</div>
-->
<ng-template #notLoggedIn>
    <h1>Please log in!</h1>
</ng-template>
</div>