<div>


  


  <mat-toolbar color = "primary" class="navbar"> 
    <a routerLink="/home">
      <div> Welcome to the {{title}}</div>
    </a>
    <div>
      <button mat-button routerLink="/login">Login</button>
      <button mat-button routerLink="/register">Register</button>
      <button mat-button routerLink="/booking">Booking</button>
      <button mat-button routerLink="/account">My account</button>
      <button mat-button routerLink="/admin">Admin Page</button>
    </div>
  </mat-toolbar>

  <router-outlet></router-outlet>

  <mat-list>
    <div *ngIf="auth.user | async">
      <button (click)="logout()">Logout</button>
    </div>
    <mat-divider></mat-divider>
  </mat-list>
  
</div>