<div>
   
   
    <form [formGroup]="form">
      <h2>Please enter your information below:</h2>
      
      <mat-form-field appearance="fill">
         <mat-label>E-mail</mat-label>
         <input matInput placeholder="E-mail" required formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="fill">
         <mat-label>First Name</mat-label>
         <input matInput placeholder="First Name" required formControlName="firstname">
      </mat-form-field>
      <mat-form-field appearance="fill">
         <mat-label>Last Name</mat-label>
         <input matInput placeholder="Last Name" required formControlName="lastname">
      </mat-form-field>

      <mat-form-field>
         <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
         <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>

      <mat-checkbox formControlName="isAdmin">
         <mat-label>Admin account (only for testing)</mat-label>
      </mat-checkbox>
          
          
      <button mat-raised-button (click)="onSubmit()">Register</button>
          
       
    </form>
 </div>